.header {
	// position: fixed;
	// position: absolute;
	// top: 0;
	// left: 0;
	// background-color: #fff;

	margin: 1rem 0 0;

	width: 100%;

	background-color: #0000;

	z-index: 50;

	&__inner {
		height: 80px;
		// margin: 1rem 0;
		// background-color: #d18888;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		position: relative;
		flex: 0 1 90px;
		overflow: hidden;
		z-index: 3;
		img {
			display: block;
			max-width: 100%;
			// елси картинка будет болще чтобы она подстроилась под размер
		}
	}

	&__menu {
	}
}
.menu {
	// position: relative;
	&__list {
		display: flex;
		// position: relative;
		z-index: 2;
		// &::after {
		// 	content: "";
		// 	// position: fixed;
		// 	align-self: center;

		// 	height: 25px;
		// 	width: 25px;
		// 	background-position: center;
		// 	background-size: cover;
		// 	background-repeat: no-repeat;
		// 	background-image: url(../img/cart.svg);
		// }
	}
	&__link {
		text-transform: capitalize;
		font-style: normal;
		font-weight: $extra-bold-weight;
		// font-size: 1.11rem;
		// font-size: 28px;
		/* минимальный значение шрифта,которое обнаружил в средствах разработки + 
		добавочное число(размер шрифта по макету это 40px - минимальное значение) 
		и затем умнодить его на (ширина всего вьюпорта / на ширину полотна по макету) */
		// font-size: calc(25px + 15 * (100vw / 1280));

		/* на 320px нет нужного мне размера,потому что 320 не граничное значение
		(то есть на 0px будет нужный) */
		/* отнятное значение от всего вьюпорта компенсирую в добавочном числе,добавляя тоже значение,но 
		тольо 70 его процентов */
		font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1606));
		line-height: 2.6;
		letter-spacing: 0.1em;
		transition: 0.3s linear;
		color: $secondary-f-color;
		&:hover {
			@media #{$mouse-device} {
				color: $secondary-f-hover-color;
				user-select: none;
				-webkit-tap-highlight-color: transparent;
			}
		}
		&:active {
			color: $secondary-f-active-color;
		}
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-user-drag: none;
	}
	&__link--cart {
		align-self: center;
		height: 30px;
		width: 30px;
		// background-position: center;
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-image: url(../img/cart.svg);
		&__img {
			position: fixed;
			width: 30px;
			height: 30px;
		}
	}
}
.cart {
	position: fixed;
	width: 30px;
	height: 30px;
}
// Для корзины
// .fixed {
// 	position: fixed;
// 	opacity: 1;
// 	transition: none;
// }
// ----------------

.header__menu {
	// padding-right: 50px;
	margin-left: -0.55rem;
}
.menu__list li {
	margin-left: 0.55rem;
}

// .cart {
// 	width: 100%;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	position: relative;
// 	&__container {
// 	}

// 	&__img {
// 		position: fixed;
// 		top: 0;
// 		right: 500px;
// 		width: 25px;
// 		height: 25px;
// 	}
// }

// /* mobile small*/
@media (max-width: 565.98px) {
	.header__inner {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.header__logo {
		display: none;
	}
	.header__menu {
		margin: 0;
	}
}
