/*  ---------------------------------------  */

// шрифт с google fonts

/*  -------------------  */

// обнуление
@import "../null.scss";

// переменные и переиспользование по bem
@import "../vars.scss";

// ограничивающие контейнеры
@import "../containers.scss";

/*  -------- блоки на сайте --------------  */

@import "./product_header.scss";

@import "./product_description.scss";

@import "./product_sliders.scss";

/*  --------                --------------  */

html,
body {
	font-family: $font-family;
	font-size: 18px;
	color: $primary-f-color;
	background-color: $product-bgc-color;

	// для того, чтобы когда модальное окно открывалось у боди не было скрола когда буду вызывать модальное боди буду выдаватьь этот класс
	&.no-scroll {
		overflow: hidden;
	}
}
.wpapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// overflow-x: hidden;
}
main {
	flex: 1 1 auto;
	// прижал footer у низу
}
// ================================
.main {
	&__wrap {
		margin-top: 2.2rem;
		// background-color: aqua;

		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: row;
	}
}

/* mobile */
@media (max-width: 991.98px) {
	.main {
		&__container {
		}

		&__wrap {
			margin-top: 1rem;
			// background-color: aqua;

			width: 100%;
			// height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
	.wrap {
		&__sliders {
			width: 100%;
		}

		&__description {
			width: 100%;

			padding: 0;
			margin-top: 1.5rem;
		}
	}
}

@media (max-width: 565.98px) {
	.main {
		&__wrap {
			margin-top: 0rem;
		}
	}
}
