[class*="__container"] {
	max-width: 1606px;
	margin: 0px auto;
	padding: 0px 15px;
	// background-color: rgba(255, 255, 255, 0.181);
}

/* Адаптив через брейкпоинты        1 брейкпоинт 1306 px*/
/* PC */
@media (max-width: 1306px) {
	/* на 1 брейкпоинте сужаю ограничиваемый контейнер на 970 px */
	[class*="_container"] {
		max-width: 970px;
	}
}

/* планшет - tablet */
/* дробные числа нужны чтобы адаптив для планшета не отображался как для мобилок тюк размер 992 
приходится немного уменьшать размер чтобы стили заработали на устройствах меньше чем планшет*/
@media (max-width: 991.98px) {
	/* на 1 брейкпоинте сужаю ограничиваемый контейнер на 970 px */
	[class*="_container"] {
		max-width: 750px;
	}
}

/* mobile */
@media (max-width: 767.98px) {
	/* на 1 брейкпоинте сужаю ограничиваемый контейнер на 970 px */
	[class*="_container"] {
		max-width: none;
	}
}

/* mobile small*/
@media (max-width: 565.98px) {
	/* на 1 брейкпоинте сужаю ограничиваемый контейнер на 970 px */
	[class*="_container"] {
		max-width: none;
	}
}
