.wrap {
	&__description {
		color: $product-primary-f-color;

		width: 50%;
		height: 100%;
		// min-height: 100%;
		padding: 0 0 0 40px;

		display: flex;
		flex-direction: column;
	}
}
.description {
	&__title-block {
	}

	&__content {
	}
}
.title-block {
	display: flex;
	align-self: flex-start;
	&__title {
		text-align: center;
		word-break: break-all;
		// font-size: 50px;
		// font-size: calc(34px + (16 + 16 * 0.7) * ((100vw - 991.98px) / 1606));
		@include adaptive-font(50, 34);
		font-weight: $extra-bold-weight;
	}

	&__price {
		margin-top: 1rem;

		font-weight: $medium-weight;
		// font-size: 18px; 23 33
		// font-size: calc(23px + (10 + 10 * 0.7) * ((100vw - 991.98px) / 1606));
		@include adaptive-font(33, 23);
	}
}
.button {
	&__btn {
		margin-top: 1rem;

		width: fit-content;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 10px;
		border-radius: 15px;

		// font-size: 1.2rem;
		@include adaptive-font(21, 18);
		color: $product-secondary-f-color;

		background-color: $product-btn-bgc-color;
		// background-color: #950101;

		// user-select: none;
		// -webkit-tap-highlight-color: transparent;
		// -webkit-user-drag: none;
	}
}
.content {
	&__text {
		margin-top: 2rem;

		// font-size: 40px;
		// font-size: calc(22px + (15 + 15 * 0.7) * ((100vw - 320px) / 1606));
		@include adaptive-font(33, 22);
	}

	&__sizes {
		img {
			width: 100px;
			height: auto;
			// display: block;
			// width: 50%;
			// height: 50%;
		}
	}
}
