.intro {
	min-height: 100vh;
	// z-index: 999999;
	// transform: translateY(-88px);
	// background-color: #fff;
	// background-color: #eedcdc;
	// background-image: url(../img/intro_img.jpg);
	background-image: url(../img/intro.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	// background-size: cover;

	// backdrop-filter: blur(65px);

	display: flex;
	align-items: flex-end;
	justify-content: center;

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		// height: 100%;
		img {
			border: none;
			display: block;
			width: 100%;
			height: auto;
			// max-width: 5;
			// max-height: initial;
			// display: block;
			// object-fit: cover;
		}
	}

	&__scroll-block {
		width: 100%;

		// padding: 2.5rem 0;

		transform: translateY(-80px);

		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-user-drag: none;
	}
}
.scroll-block {
	&__scroll-content {
		display: flex;
		align-items: center;
		justify-content: center;

		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-user-drag: none;

		// background-color: #bb8f8f;
	}
}
.scroll-content {
	&__scroll-mouse {
	}

	&__wheel {
		animation: scroll 2s ease infinite;
	}

	&__scroll-name {
		margin-left: 1rem;
		display: flex;
		align-items: center;

		@include adaptive-font(24, 10);

		font-weight: $bold-weight;

		color: $alt-f-color;

		transition: 0.3s ease-in-out;
		&:hover {
			@media #{$mouse-device} {
				color: $secondary-f-hover-color;
			}
		}
		&:active {
			color: $secondary-f-active-color;
		}
	}
}

.scroll-name {
	&__arrow {
		margin-left: 0.5rem;
		transform: rotate(90deg);
		img {
		}
	}
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(3.75rem);
	}
}

// @media (max-width: 1306.98px) {
// }

// .cart-wrapper {
// 	position: absolute;
// 	top: 0;
// 	// right: 0;
// 	// width: 100%;
// 	z-index: 100;
// 	&__cart {
// 		height: 25px;
// 		width: 25px;
// 	}
// }
