// .products {
// 	background-color: #fff;
// 	padding: 50px 0 50px;
// 	&__container {
// 	}

// 	&__content {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 	}
// }
// .content {
// 	&__filter {
// 		margin-bottom: 1.25rem;

// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		column-gap: 1.5rem;
// 		row-gap: 0.3rem;
// 		flex-wrap: wrap;
// 	}

// 	&__cards {
// 		display: grid;
// 		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
// 		gap: 20px;
// 		// display: flex;
// 		// flex-direction: row;
// 		// justify-content: space-around;
// 		// flex-wrap: wrap;
// 	}
// }
// .filter {
// 	&__item {
// 		// font-size: 20px;
// 		font-size: calc(19px + (5 + 5 * 0.7) * ((100vw - 320px) / 1606));
// 		line-height: 2;

// 		transition: all 0.3s;

// 		color: #c4c4c4;
// 		background: transparent;
// 		&:hover {
// 			color: #495057;
// 		}
// 		&:active {
// 			color: #495057;
// 		}
// 	}
// }

// .active {
// }

// .cards {
// 	&__item {
// 		// flex-basis: (25% - 20);
// 		// flex-basis: 25%;
// 		// padding: 10px;
// 		display: flex;
// 		flex-direction: column;

// 		border-radius: 5px;
// 		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// 		overflow: hidden;
// 	}
// }
// .item {
// 	&__image {
// 		width: 100%;
// 		height: auto;
// 		display: block;
// 		margin-bottom: 0.5rem;

// 		// display: flex;
// 		// justify-content: center;

// 		overflow: hidden;
// 		position: relative;
// 		padding: 0.3rem;
// 		img {
// 			// position: absolute;
// 			// top: 0;
// 			// left: 0;
// 			object-fit: cover;
// 			max-width: 100%;
// 			max-height: 100%;
// 			transition: transform 0.3s;
// 			&:hover {
// 				transform: scale(1.03);
// 			}
// 		}
// 	}

// 	&__body {
// 	}
// }
// .body {
// 	display: flex;
// 	flex-direction: column;
// 	&__name {
// 		// background-color: #937a7a;
// 		display: flex;
// 		justify-content: center;

// 		// font-size: 1rem;
// 		// font-size: 36px;
// 		font-size: calc(17px + (14 + 14 * 0.7) * ((100vw - 320px) / 1606));
// 		font-weight: 900;
// 		line-height: 1.6;
// 		color: black;
// 	}

// 	&__price {
// 		// background-color: #cca5a5;
// 		display: flex;
// 		justify-content: center;

// 		// font-size: 24px;
// 		font-size: calc(17px + (7 + 7 * 0.7) * ((100vw - 320px) / 1606));
// 		line-height: 1.6;
// 		color: black;
// 	}
// }

// =================================
.products {
	padding: 50px 0 50px;

	background-color: $secondary-bgc-color;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.content {
	&__filter {
		margin-bottom: 1.25rem;

		display: flex;
		align-items: center;
		justify-content: center;

		column-gap: 1.5rem;
		row-gap: 0.3rem;
		flex-wrap: wrap;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
		// display: flex;
		// flex-direction: row;
		// justify-content: space-around;
		// flex-wrap: wrap;
	}
}
.filter {
	&__item {
		// font-size: 20px;
		// font-size: calc(19px + (5 + 5 * 0.7) * ((100vw - 320px) / 1606));
		@include adaptive-font(24, 19);
		line-height: 2;

		transition: all 0.3s;

		color: $optional-f-color;
		background: transparent;
		&:hover {
			@media #{$mouse-device} {
				color: $optional-f-hover-color;
			}
		}
		&:active {
			color: $optional-f-active-color;
		}
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-user-drag: none;
	}
}
.filter__item.active {
	color: $optional-f-active-color;
}
.cards {
	&__item {
		flex-basis: (25% - 20);
		flex-basis: 25%;
		padding: 10px;

		display: flex;
		justify-content: center;
		flex-direction: column;

		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

		// overflow: hidden;

		// opacity: 0;
		// transition: opacity 0.5s ease-in-out;
	}
}

.cards__item.show {
	// opacity: 1;
}

.item {
	&__image {
		width: 100%;
		height: 100%;
		// height: auto;
		// display: block;

		display: flex;
		align-items: center;
		justify-content: center;

		overflow: hidden;

		padding: 0.3rem;

		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-user-drag: none;

		// position: relative;
		img {
			// position: absolute;
			// top: 0;
			// left: 0;

			object-fit: cover;
			// object-position: center;

			min-width: 100%;
			max-height: 100%;

			display: block;

			transition: transform 0.3s;
			&:hover {
				@media #{$mouse-device} {
					transform: scale(1.03);
				}
			}
		}
	}

	&__body {
		margin-top: 0.5rem;

		display: flex;
		flex-direction: column;

		// background-color: #784c4c;
	}
}
.body {
	&__name {
		// background-color: #937a7a;
		// display: flex;
		// justify-content: center;
		text-align: center;

		// font-size: 1rem;
		// font-size: 36px;
		// font-size: calc(17px + (14 + 14 * 0.7) * ((100vw - 320px) / 1606));
		@include adaptive-font(31, 17);
		font-weight: $extra-bold-weight;
		line-height: 1.6;
		color: $primary-f-color;
	}

	&__price {
		// background-color: #cca5a5;
		display: flex;
		justify-content: center;

		// font-size: 24px;
		// font-size: calc(17px + (7 + 7 * 0.7) * ((100vw - 320px) / 1606));
		@include adaptive-font(24, 17);
		line-height: 1.6;
		color: $primary-f-color;
	}
}
